.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00525e;
    height: 80px;
    /* margin-bottom: -10px; */
}

.wavy_container {
    display: flex;
}
  
.logo {
    width: 150px;
    margin-left: 50px;
}
  
a {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    color: #f7f7f7;
    font-size: 22px;
    font-weight: 600;
    margin-right: 70px;
}
  
.wavy_bottom {
    text-align: center;
    width: 100%;
    background-color: #A6CED6;
    /* margin-bottom: -4px; */
}
  